<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/atom.css" type="text/css" />
		<link rel="shortcut icon" type="image/png" href="/images/ef.png"/>
		<title>Scheduling App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
    {{!-- background="/assets/img/Turtle.png"> --}}
	<body> 
		{{{ body }}}
	</body>
</html>
