<div>
<h1>administrator view <button onclick="window.location.href='/'">log out</button></h1>
<table>
    <tr>
        <th>Time</th>
        <th>Claimed By</th>
        <th>Description</th>
        <th>Edit</th>
    </tr>
    {{#each timeslots}}
        <tr>
            <td>{{start}}</td>
            {{#if owner}}
                <td>
                    {{owner}}
                </td>
                <td>
                    {{description}}
                </td>
            {{/if}}
            {{#unless owner}}
                <td>
                    UNCLAIMED
                </td>
                <td></td>
            {{/unless}}
            <td>
                <button onclick='window.location.href="/admin/edit/{{index}}"'>edit</button>
            </td>
        </tr>
    {{/each}}
</table>
</div>