<form action="/signup/{{index}}" method="post">
    Your name: <input type="text" name="owner">
    What your want the room for: <input type="text" name="description">
    <button type="submit">submit</button>
    <button onclick = "window.location.href = '/'">cancel</button>
</form>